.film-page-content {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.film-page-item {
    max-width: 800px;
}

.film-page-item-content {
    display: flex;
}

.film-page-item-image {
    height: 500px;
}

.film-page-item-title {
    font-size: 3em;
    margin: 0;
}

.film-page-item-image-block {
    margin-right: 1rem;
}
