.search-input-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.search-result-block {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.search-result-content {
    width: 100%;
    max-width: 500px;
}

.film-list-empty {
    text-align: center;
}

.search-page-loading-spinner {
    display: flex;
    justify-content: center;
}
